<div class="row my-4">

    <div class="col-md-6">
        <h3>list of tasks</h3>
    </div>

    <div class="col-md-6 text-right">
        <button (click)="newTask()" class="btn btn-dark btn-sm">
            <i class="fa fa-plus"></i> New Tasks
        </button>
    </div>

</div>

<div class="row" *ngIf="addButton">

    <div class="col-md-6 mx-auto">
        <div class="form-group ">
            <label for="label">label</label>
            <input [(ngModel)]="myTask.label" id="label" type="text" class="form-control" placeholder="">
        </div>


        <div class="form-check my-2">
            <label class="form-check-label">
                <input [(ngModel)]="myTask.completed" type="checkbox" class="form-check-input">
                Completed
            </label>
        </div>
        <!-- {{myTask | json}} -->
        <button *ngIf="editButton" (click)="updateTask()" class="btn btn-warning btn-block">
            <i class="fas fa-refresh"></i> Update Task
        </button>

        <button *ngIf="!editButton" (click)="persiteTask()" class="btn btn-success btn-block">
            <i class="fas fa-paper-plane"></i> New Task
        </button>


    </div>

</div>

<div class="row">
    <div class="col-md-6 mx-auto">
        <ul class="list-group">

            <input (keyup)="searchTasks()" [(ngModel)]="searchText" placeholder="Search..." type="text"
                class="form-control">

            <ul class="list-group">

                <li *ngFor="let task of resultSearch"
                    class="list-group-item d-flex justify-content-between align-items-center">
                    <button (click)="editTask(task)" class="btn btn-warning btn-sm"><i
                            class="fa fa-pencil"></i></button>


                    {{ task.label }}

                    <span (click)="toggleCompleted(task)"
                        [ngClass]="{'badge-info':task.completed,'badge-danger':!task.completed}"
                        class="badge  badge-pill">
                        {{ task.completed }}
                        <i [ngClass]="{'fa-thumbs-up':task.completed,'fa-thumbs-down':!task.completed}" class="fa "></i>

                    </span>
                    <button (click)="deleteTask(task.id)" class="btn btn-danger btn-sm"><i
                            class="fa fa-trash"></i></button>

                </li>

            </ul>

        </ul>
    </div>
</div>